
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
		$(document).ready(function() {
            $("#btn-login").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var body = {
                    grant_type: 'password',
                    username: username,
                    password: password
                };
                $.ajax({
                    url: "https://localhost:44341/token",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: body,
                    success: function (response, status, xhr) {
                        var token = response.access_token;
                        localStorage.setItem("token", token);
                        alert("Login successful. Token saved." + " " + response.access_token);
                        location.href = "/Home/Users";
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 400) {
                            $("#response").text("Kullanıcı Adı veya Şifre Yanlış.");
                            alert("Kullanıcı Adı veya Şifre Yanlış.");
                        } else {
                            $("#response").text("Hata: " + error);
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h2>Login</h2>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Kullanıcı Adı</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Şifre</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Şifre">
            </div>
        </div>
        <div id="response"></div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="btn-login" class="btn btn-default">Giriş Yap</button>
            </div>
        </div>
    </form>
</body>
</html>
